html{ru
  background-color: deepskyblue;
}

body{
  background-color:deepskyblue;
}

/* input[type="text"]{
   background: transparent; 
  color:white;
}


input[type="text"]:focus{
  background: transparent;
  color:white;
} */